@using Newtonsoft.Json;
@using PriceParser;

@model RequestResult

@{
    ViewData["Title"] = "Результат поиска";
}

<h1>Результат поиска</h1>

@if (Model == null)
{
    <p>Ничего не найдено</p>
}
else
{
    <table style="width:100%">
        <thead>
            <th>Название</th>
            <th>Цена</th>
            <th>Магазин</th>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td><a href="@item.RedirectUrl">@item.Market</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <th>Лучшее предложение</th>
            @foreach (var item in Model.BestItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td><a href="@item.RedirectUrl">@item.Market</a></td>
                </tr>
            }   
        </tfoot>
    </table>
    
    <div>
        <form asp-controller="History" asp-action="Save" method="post">
            <input hidden name="id" value="@Model.Id" />
       
            @foreach (var item in Model.BestItems)
            {
                <input hidden name="bestItemsJson" value="@JsonConvert.SerializeObject(item)" />
            }
            @foreach (var item in Model.Items)
            {
                <input hidden name="itemsJson" value="@JsonConvert.SerializeObject(item)" />
            }

            <input hidden name="query" value="@Model.Query" />
            <input hidden name="date" value="@Model.Date" />
            <button type="submit">Сохранить</button>
        </form>
    </div>
}