@using PriceParser;

@model SearchResultModel

@{
    ViewData["Title"] = "Результат поиска";
}

<h1>Результат поиска</h1>

@if (Model.Positions.Count == 0)
{
    <p>Ничего не найдено</p>
}
else
{
    <table style="width:100%">
        <thead>
            <th>Название</th>
            <th>Цена</th>
            <th>Магазин</th>
        </thead>
        <tbody>
            @foreach (var item in Model.Positions)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Market</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <th>Лучшее предложение</th>
            <tr>
                <td>@Model.BestPosition.Name</td>
                <td>@Model.BestPosition.Price</td>
                <td>@Model.BestPosition.Market</td>
            </tr>
        </tfoot>
    </table>
}